[product] .menuheader {
  max-height: 450px;
  height: 70vh;
  background-position: center center;
}
[product] .textOverlay {
  font-size: 81px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  top: 45%;
  color: #37373a;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 200px;
}
[product] #menusWrap {
  margin: 0px 40px 10px 0px;
  background: white;
  position: relative;
  float: left;
  width: calc(100% - 40px);
  padding: 40px 0 0 40px;
}
[product] #menusWrap h1 {
  color: #373737;
}
[product] #menusWrap .fa-pencil {
  color: #2974a4;
  margin: 0px 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 150ms;
  z-index: 11;
}
[product] #menusWrap .fa-pencil:hover {
  opacity: 0.8;
}
[product] #menusWrap .labWrap {
  text-align: center;
  position: relative;
}
[product] #menusWrap .labWrap .eachLab {
  display: inline-block;
}
[product] #menusWrap .restButton {
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
  border-radius: 1px;
  background: #ff9077;
  font-size: 16px;
  margin-right: 3px;
  width: 130px;
  transition: 400ms;
}
[product] #menusWrap .restButton:hover {
  background: #28536c;
}
[product] #menusWrap .restButton i {
  margin-right: 4px;
}
[product] #menusWrap .restButton:hover {
  background: #28536c;
}
[product] #menusWrap .restButton i {
  margin-right: 4px;
}
[product] #menusWrap .restButton:hover {
  background: #28536c;
}
[product] #menusWrap .restButton i {
  margin-right: 4px;
}
[product] #menusWrap .restButton:hover {
  opacity: 0.7;
  background: #ff9077;
}
[product] #menusWrap .zoutterWrap {
  margin: 10px 0px 10px -10px;
}
[product] #menusWrap .zoutterWrap .labWrap {
  margin: 30px 0px;
}
[product] #menusWrap .zoutterWrap .labWrap .innerWrap {
  margin: 10px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
[product] #menusWrap .zoutterWrap .menuCat [cms-menu-item] {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
[product] #menusWrap .zoutterWrap .menuCat .menuWrap {
  flex-grow: 1;
  margin: 30px 10px;
  width: calc(50% - 26px);
  max-width: calc(50% - 26px);
  border: 0px dotted #eee;
  color: #37373a;
  min-width: 300px;
  position: relative;
}
[product] #menusWrap .zoutterWrap .menuCat .menuWrap .name,
[product] #menusWrap .zoutterWrap .menuCat .menuWrap .price {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
[product] #menusWrap .zoutterWrap .menuCat .menuWrap .descr,
[product] #menusWrap .zoutterWrap .menuCat .menuWrap .hippie {
  font-style: italic;
}
[product] #menusWrap .zoutterWrap .menuCat .menuWrap .bullet {
  font-size: 26px;
  margin: 2px 10px;
  vertical-align: bottom;
}
[product] #menusWrap .zoutterWrap .menuCat .menuWrap i {
  position: absolute;
  background: #fff;
  top: 0px;
  right: 0px;
  color: #37373a;
  font-size: 20px;
}
[product] #menusWrap .zoutterWrap .menuCat [sv-placeholder] {
  border: 3px dashed #ddd;
  min-height: 80px;
  font-size: 48px;
  background: rgba(0, 0, 0, 0.05);
  opacity: 0.4;
  text-align: center;
  z-index: 100;
}
[product] #menusWrap .zoutterWrap .menuCat [sv-placeholder].small {
  min-height: 40px;
  font-size: 28px;
}
[product] #menusWrap .fa-pencil {
  margin: 3px 1px;
  position: absolute;
  top: -5px;
  right: -20px;
  background: #fff;
  font-size: 20px;
}
[product] .menuCatLabs {
  transition: 400ms;
  border-bottom: 2px solid transparent;
}
[product] .menuCatLabs.active,
[product] .menuCatLabs:hover {
  border-bottom: 2px solid #ff9077;
}
[product] [cms-menu-cat] {
  float: left;
  position: relative;
}
[product] [cms-menu-cat] .eachCat {
  font-family: lato;
  float: left;
  margin: 5px 12px;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms;
  border-bottom: 2px solid transparent;
}
[product] [cms-menu-cat] .eachCat.active {
  border-bottom: 2px solid #ff9077;
}
[product] [cms-menu-cat] .eachCat:hover {
  border-bottom: 2px solid #ff9077;
}
[product] [cms-menu-cat] .catRow i.fa-trash {
  font-size: 20px;
  margin-right: 8px;
  cursor: pointer;
  transition: 150ms;
}
[product] [cms-menu-cat] .catRow i.fa-trash:hover {
  opacity: 0.5;
}
[product] [cms-menu-cat] .coolButton {
  margin-bottom: 10px;
}
[files] .fa-pencil {
  color: green;
  position: absolute;
  top: 3px;
  left: 3px;
}
[files] img {
  width: auto;
  max-height: 100px;
  display: block;
}
[files] h3 {
  color: white;
  position: relative;
  float: left;
  margin-right: 8px;
  color: #aaa;
}
[files] h3.active {
  text-decoration: underline;
  color: white;
}
[files] h3 i.fa {
  width: auto;
  width: 18px !important;
  top: -4px !important;
}
[files] h3 i.fa-plus {
  float: right;
}
[files] h3 input {
  width: 80px !important;
  margin-left: 60px !important;
}
[files] li {
  text-decoration: none;
}
[files] .grpMenu {
  position: relative;
  float: left;
  clear: both;
  min-width: 100%;
}
[files] .grpMenu .dirWrap {
  width: 100%;
  background: #fff;
  float: left;
}
[files] .grpMenu .dirWrap .dirs {
  text-transform: uppercase;
  float: left;
  padding: 10px;
  cursor: pointer;
}
[files] .grpMenu .dirWrap .dirs.active {
  font-weight: bold;
}
[files] .grpMenu .dirWrap i {
  float: left;
  padding: 10px;
  color: #ff9077;
}
[files] .grpMenu .dirWrap .addDir {
  display: inline-block;
}
[files] .grpMenu .dirWrap .addDir input {
  float: left;
}
[files] .grpMenu .dirWrap .addDir i {
  color: #205920;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  margin-top: 5px;
}
[files] .grpMenu .dirWrap .addDir i span {
  font-family: lato;
  font-weight: bold;
}
[files] .files.ng-hide {
  max-height: 0px;
  margin: 0px;
  display: block !important;
  overflow: hidden;
}
[files] .files {
  float: left;
  width: 95%;
  margin-top: 15px;
  transition: 400ms;
}
[files] .files h1 {
  background: #ff9077;
  color: #373737;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
  margin: 0px;
}
[files] .files h1 button.uploadNew {
  background: rgba(3, 19, 26, 0.24);
  float: right;
  font-size: 13px;
  border: none;
  border-radius: 20px;
  padding: 7px 12px;
  margin-top: -3px;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0px 0px 3px -1px #000;
}
[files] .files ul.fileWrap {
  list-style: none;
  width: 100%;
  float: left;
  padding: 0px;
  margin: 0px;
  max-height: 216px;
  overflow: auto;
}
[files] .files ul.fileWrap li {
  float: left;
  padding: 0px;
  margin: 0px;
}
[files] .files ul.fileWrap .fileThumb {
  position: relative;
  margin: 8px 0 0 4px;
}
[files] .files ul.fileWrap .fileThumb i {
  position: absolute;
  bottom: 2px;
  right: 2px;
  transition: 200ms;
  cursor: pointer;
}
[files] .files ul.fileWrap .fileThumb i:hover {
  opacity: 0.5;
}
[files] .files .upFile {
  border: 1px dashed #888;
  padding: 4px;
  width: 250px;
  min-height: 64px;
  float: left;
  margin: 20px 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  color: #aaa;
  width: 85%;
}
[files] .files .upFile button {
  border-radius: 4px;
  margin: 2px;
  border: none;
  box-shadow: none;
  background: #28536c;
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  margin-top: 5px;
}
[files] .files .upFile .actualUploader {
  min-height: 24px;
  padding: 20px;
  cursor: pointer;
}
[cms-map] {
  display: inline-block;
  min-height: 200px;
  min-width: 240px;
  max-width: 252px;
  max-height: 440px;
  position: relative;
  float: none;
  margin-left: 10px;
  margin-right: 10px;
}
[cms-map] .fa-pencil {
  color: #37373a;
  margin-left: 5px;
}
[cms-map] map {
  filter: saturate(25%);
  position: relative;
  float: left;
  width: 240px;
  height: 240px;
}
[cms-map] map img {
  border-radius: 50%;
}
[cms-map] h2 {
  color: #000;
  margin-top: 15px;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
[cms-map] h2 a {
  color: #37373a;
}
[contact] [cms-map] {
  max-width: 98%;
}
[contact] [cms-map] map img {
  border-radius: 5%;
}
[cms-img-slide] i.fa-pencil,
[cms-img-side-slide] i.fa-pencil,
[cms-img] i.fa-pencil {
  border-radius: 8px;
  background: #4986c0;
  border: 3px solid white;
  color: #ddd;
}
[cms-img-side-slide] {
  position: relative;
  float: left;
  height: calc(100% - 55px);
  width: 100%;
  overflow: hidden;
  min-height: 640px;
}
[cms-img-side-slide] .slide {
  height: 100%;
  width: 100%;
  min-height: 640px;
  left: 0;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: cover;
  position: absolute;
  opacity: 1;
  transition-timing-function: ease-in;
  transform: translateX(100%);
}
[cms-img-side-slide] .fa.fa-pencil {
  position: absolute;
  z-index: 4;
  top: 7px;
  left: 7px;
}
[cms-in-text] content.active {
  background: transparent;
  border-bottom: 2px solid #494992;
}
[cms-img-slide],
[cms-img-side-slide],
[cms-map],
[cms-img],
[cms-link],
[cms-link-text],
[cms-text] {
  font-family: lato, sans-serif;
  /*
    [type="text"],
    textarea {
        width:96%;
        margin:0 1%;
    }
    */
  /*
    img {
        max-height:630px;
        width:100%;
        @media (max-width: 960px) and (min-width:600px) {
            max-width:360px;
        }
    }
    */
  /*
    .fa-pencil {
        color:#ae6d2b;
        font-size:20px;
    }
    */
}
[cms-img-slide] content,
[cms-img-side-slide] content,
[cms-map] content,
[cms-img] content,
[cms-link] content,
[cms-link-text] content,
[cms-text] content {
  white-space: pre-wrap;
  line-height: 22px;
  font-size: 16px;
}
[cms-img-slide].head,
[cms-img-side-slide].head,
[cms-map].head,
[cms-img].head,
[cms-link].head,
[cms-link-text].head,
[cms-text].head {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  color: #ff9077;
  position: relative;
}
[cms-img-slide].head content,
[cms-img-side-slide].head content,
[cms-map].head content,
[cms-img].head content,
[cms-link].head content,
[cms-link-text].head content,
[cms-text].head content {
  font-style: normal;
  font-size: 18px;
}
[cms-img-slide].head.quotes,
[cms-img-side-slide].head.quotes,
[cms-map].head.quotes,
[cms-img].head.quotes,
[cms-link].head.quotes,
[cms-link-text].head.quotes,
[cms-text].head.quotes {
  margin: 0 20px;
  padding: 0 20px;
}
[cms-img-slide].head.quotes::before,
[cms-img-side-slide].head.quotes::before,
[cms-map].head.quotes::before,
[cms-img].head.quotes::before,
[cms-link].head.quotes::before,
[cms-link-text].head.quotes::before,
[cms-text].head.quotes::before {
  content: '​‌“';
  color: #cccccc;
  font-size: 50px;
  top: -8px;
  font-style: italic;
  left: -18px;
  position: absolute;
  font-family: 'Abril Fatface', cursive;
}
[cms-img-slide].head.quotes::after,
[cms-img-side-slide].head.quotes::after,
[cms-map].head.quotes::after,
[cms-img].head.quotes::after,
[cms-link].head.quotes::after,
[cms-link-text].head.quotes::after,
[cms-text].head.quotes::after {
  content: '‌”';
  color: #cccccc;
  font-size: 50px;
  bottom: -31px;
  font-style: italic;
  right: -5px;
  position: absolute;
  font-family: 'Abril Fatface', cursive;
}
[cms-img-slide].subHead,
[cms-img-side-slide].subHead,
[cms-map].subHead,
[cms-img].subHead,
[cms-link].subHead,
[cms-link-text].subHead,
[cms-text].subHead {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
[cms-img-slide] a,
[cms-img-side-slide] a,
[cms-map] a,
[cms-img] a,
[cms-link] a,
[cms-link-text] a,
[cms-text] a {
  text-decoration: none;
  color: #ff9077;
  font-weight: bold;
  transition: 500ms;
}
[cms-img-slide] a:hover,
[cms-img-side-slide] a:hover,
[cms-map] a:hover,
[cms-img] a:hover,
[cms-link] a:hover,
[cms-link-text] a:hover,
[cms-text] a:hover {
  box-shadow: 2px 14px 0px -9px #ff9077;
}
[cms-img-slide] .fa-close,
[cms-img-side-slide] .fa-close,
[cms-map] .fa-close,
[cms-img] .fa-close,
[cms-link] .fa-close,
[cms-link-text] .fa-close,
[cms-text] .fa-close {
  color: #b63131;
  font-size: 20px;
}
[cms-img-slide] {
  height: 630px;
  width: 630px;
}
[cms-img-slide] .slide {
  height: 630px;
  position: absolute;
  width: 100%;
  background-size: cover;
  transition: 1800ms;
  opacity: 0;
}
[cms-img-slide] .slide.active {
  opacity: 1;
}
[cms-img] .fa-pencil {
  font-size: 28px;
  color: #37373a;
  margin-left: 7px;
  margin-top: 7px;
}
.sectionText {
  float: left;
  font-family: lato;
  white-space: pre-wrap;
  position: relative;
}
.sectionText .subHead {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 25px 0px 5px;
}
.sectionText .desc {
  font-size: 15px;
  line-height: 24px;
}
.sectionText a {
  text-decoration: none;
  color: #ff7b5e;
  margin-top: 20px;
  float: left;
  font-weight: bold;
}
.sectionText i {
  position: absolute;
  top: 30px;
  right: 10px;
}
.phone content {
  font-weight: bold;
  font-size: 16px;
}
[cms-text] .buttonWrap {
  margin: 0px 0px 15px 0px;
}
button.coolButton {
  border-radius: 2px;
  box-shadow: 1px 1px 3px -1px #bebebe;
  background: #007b80;
  border: none;
  margin-top: 10px;
  margin-right: 5px;
  padding: 0px;
  margin-left: 6px;
  font-family: lato;
  border-radius: 20px;
  border: 1px solid #999;
  transition: 250ms;
  cursor: pointer;
}
button.coolButton a,
button.coolButton span {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.2px;
  font-weight: 500;
  padding: 10px 14px 10px 8px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
button.coolButton i,
button.coolButton .fa-reorder {
  padding: 13px;
  border-radius: 30px;
  min-width: 17px;
  font-size: 14px;
  background: #282a2b;
  transition: 250ms;
  margin-left: -1px;
}
button.coolButton.edit {
  background: #bcbcbc;
  color: #000;
  text-shadow: none;
  background: transparent;
  box-shadow: none;
}
button.coolButton.edit a,
button.coolButton.edit span {
  text-shadow: none;
  color: #000;
  color: #37373a;
}
button.coolButton.edit i {
  color: #fff;
}
button.coolButton.edit:hover {
  background: #ff9077;
}
button.coolButton.edit:hover i {
  color: #ff9077;
}
.blog_main {
  padding: 2em;
  float: left;
}
.blog_main .head {
  font-size: 20px;
  font-weight: bold;
}
.blog_main .item {
  padding-left: 20px;
}
.blog_main img {
  height: 200px;
}
.blog_main .blogImg {
  height: 150px;
}
.blog_main [blog-post] {
  background: #eee;
  margin: 10px;
  border-radius: 4px;
  margin: 12px 20px;
  font-family: lato;
  float: left;
  min-width: 97%;
  box-shadow: 1px 1px 5px -1px #aaa;
}
.blog_main [blog-post] i.fa-youtube,
.blog_main [blog-post] i.fa-picture-o {
  cursor: pointer;
  right: 75px !important;
  top: 12px !important;
  font-size: 28px;
  transition: 400ms;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}
.blog_main [blog-post] i.fa-youtube.active,
.blog_main [blog-post] i.fa-picture-o.active {
  opacity: 0.3;
}
.blog_main [blog-post] .blogHead {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  padding: 15px 0px;
  width: 100%;
  background: #ccc;
  color: #000;
  text-decoration: none;
  background: linear-gradient(to right, #ff9077, #dfd9d9);
  position: relative;
  min-height: 27px;
  float: left;
  /*
            .date {
                font-size:14px;
                max-width:100px;
                float:left;
                position:absolute;
                top:0px;
                box-shadow:@crazyBS;
                .left {
                    float:left;
                    width:50%;
                }
                .right {
                    float:right;
                    width:50%;
                }
                .month {
                    width:100%;
                    background:#222;
                    color:#fff;
                    padding:4px 0px;
                    float:left;
                }
                .day {
                    width:calc(~"100% - 6px");
                    background:#fff;
                    color:#222;
                    padding:9px 3px;
                    float:left;
                    font-size:16px;
                }
                .year {
                    width:100%;
                    float:left;
                    padding:4px 0px;
                }
            }
            */
}
.blog_main [blog-post] .blogHead a {
  color: #242424;
  transition: 200ms;
  text-decoration: none;
  letter-spacing: 0.7px;
  margin: 0 120px;
  float: left;
  width: calc(100% - 240px);
  text-align: center;
}
.blog_main [blog-post] .blogHead a:hover {
  color: #555;
}
@media (max-width: 560px) {
  .blog_main [blog-post] .blogHead a {
    clear: both;
    width: 96%;
    margin: 40px 2% 0;
  }
}
.blog_main [blog-post] .blogHead i {
  position: absolute;
  top: 8px;
  right: 5px;
}
.blog_main [blog-post] .blogHead i.fa-pencil {
  right: 35px;
}
.blog_main [blog-post] .blogHead .date {
  font-size: 16px;
  position: absolute;
  top: 18px;
  left: 14px;
  color: #5e5353;
  color: #1e1818;
}
.blog_main [blog-post] [cms-img] {
  height: 150px;
  width: 200px;
  float: left;
  margin: 0px 15px 15px 0px;
}
@media (max-width: 560px) {
}
.blog_main [blog-post] .contentText {
  margin: 20px;
  line-height: 23px;
  float: left;
  max-width: 75%;
  min-width: 70%;
  font-size: 16px;
}
.blog_main [blog-post] .inputText {
  margin: 10px;
  color: #444;
  float: left;
  width: 70%;
}
.blog_main [blog-post] .inputText i {
  margin-right: 5px;
}
.blog_main [blog-post] .date {
  float: left;
}
.blog_main [blog-post] .readMore {
  width: 70%;
  text-align: center;
  float: left;
  color: #242424;
  transition: 200ms;
  text-decoration: none;
}
.blog_main [blog-post] .readMore:hover {
  color: #ff522b;
}
[blog-items] {
  background: #eee;
  float: left;
  margin: 0px 40px;
  width: calc(100% - 80px);
}
[blog-item] {
  float: left;
  font-family: lato;
  margin: 20px;
  text-align: center;
  width: calc(100% - 40px);
}
[blog-item] [cms-img] {
  height: 300px;
  width: 500px;
  display: inline-block;
  border-radius: 2px;
  margin: 0px 15px 15px 0px;
}
@media (max-width: 560px) {
  [blog-item] [cms-img] {
    width: 350px;
  }
}
[blog-item] .itemHead {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  padding: 15px 0px;
  width: 100%;
  color: #242424;
  letter-spacing: 0.7px;
  position: relative;
  background: linear-gradient(to right, #ccc, #fff);
  float: left;
}
[blog-item] .itemHead item-head {
  width: calc(100% - 240px);
  text-align: center;
  margin: 0 120px;
  float: left;
}
@media (max-width: 560px) {
  [blog-item] .itemHead item-head {
    clear: both;
    width: 96%;
    margin: 40px 2% 0;
  }
}
[blog-item] .itemHead i {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 5px;
}
[blog-item] .itemHead i.fa-pencil {
  right: 35px;
}
[blog-item] .itemHead i.fa-picture-o {
  cursor: pointer;
  right: 75px;
  font-size: 28px;
  top: 12px;
  transition: 400ms;
}
[blog-item] .itemHead i.fa-picture-o.active {
  opacity: 0.3;
}
[blog-item] .itemHead .date {
  font-size: 16px;
  position: absolute;
  float: left;
  top: 16px;
  left: 14px;
  color: #1e1818;
}
[blog-item] .contentText {
  margin: 20px;
  line-height: 23px;
  float: left;
  font-size: 16px;
  text-align: left;
  width: calc(100% - 40px);
}
[stock] {
  display: flex;
  font-family: lato;
}
[stock] h1 {
  margin: 30px 0 10px;
}
[stock] .searchPane {
  position: relative;
  float: left;
  clear: left;
  padding: 12px;
  min-width: 200px;
  max-width: 200px;
  min-height: 400px;
  flex-grow: 1;
  background: #dbd5d1;
  z-index: 100;
}
[stock] .searchPane h1 {
  text-align: center;
  padding-top: 0px;
  margin-top: 15px;
  color: #373737;
}
[stock] .searchPane .prodSearch {
  text-align: center;
}
[stock] .searchPane .prodSearch input {
  border-radius: 4px;
  padding: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: none;
  margin-top: 8px;
}
[stock] .resultPane {
  position: relative;
  flex-grow: 1;
  float: left;
  padding: 12px;
  min-width: 400px;
  text-align: center;
  min-height: 400px;
}
[stock] .resultPane h1 {
  color: #373737;
  maring-top: 15px;
}
[stock] .resultPane .results {
  max-height: 700px;
  overflow-y: auto;
  min-width: 100%;
}
[stock] .resultPane .results [stock-item] {
  padding: 5px;
  width: 45%;
  margin-bottom: 20px;
  min-width: 300px;
  float: left;
  margin: 20px;
  background: #fff;
}
[stock] .resultPane .results [stock-item].active {
  background: #ddd;
}
[stock] .resultPane .results [stock-item] .itemHead {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 10px 0px;
  font-weight: 500;
  padding: 10px 0px 25px;
  color: #303b7f;
  font-weight: bold;
  letter-spacing: 0.7px;
}
[stock] .resultPane .results [stock-item] .itemHead i {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #373737;
}
[stock] .resultPane .results [stock-item] .itemHead i.fa-pencil {
  right: 35px;
}
[stock] .resultPane .results [stock-item] .descr {
  line-height: 20px;
  letter-spacing: 0.3px;
  font-size: 14px;
}
[stock] .resultPane .results [stock-item] .price {
  font-size: 22px;
  color: #944242;
  font-weight: bold;
}
[stock] .resultPane .results [stock-item] .catWrap {
  margin: 4px;
  font-size: 12px;
  text-align: left;
  margin-left: 20%;
}
[stock] .resultPane .results [stock-item] .catWrap .catLab {
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
[stock] .resultPane .results [stock-item] .catWrap .catItem span:after {
  content: ',';
}
[stock] .resultPane .results [stock-item] .catWrap .catItem:last-child span:after {
  content: '';
}
[stock] .catSection {
  margin: 10px 0px;
  min-width: 180px;
  float: left;
}
[stock] .catSection .catHead {
  font-size: 16px;
  padding-top: 0px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0px;
}
[stock] .catSection .catItem {
  padding-left: 14px;
  font-size: 16px;
  font-style: normal;
  color: #444;
}
[stock] [cms-img] {
  width: 300px;
  height: 300px;
  margin-top: 25px;
  margin-bottom: 15px;
  display: inline-block;
}
[stock] .inPop button,
[stock] .inPop textarea,
[stock] .inPop input {
  margin: 8px 3%;
  min-width: 94%;
}
[stock] .manageStock {
  padding: 20px;
  background: white;
  max-height: 80vh;
  overflow: auto;
}
[stock] .manageStock .category {
  margin: 10px;
  padding: 15px;
  background: #eee;
  border: 1px solid #ccc;
  float: left;
  clear: left;
}
[stock] .manageStock h1 {
  text-align: center;
  margin: 0px 0px;
}
[stock] .manageStock h3 {
  margin: 18px 0 0px;
}
[stock] .manageStock .items {
  padding-left: 22px;
}
[stock] .manageStock .lab {
  font-size: 14px;
  font-weight: bold;
  float: left;
  padding-top: 4px;
  text-transform: uppercase;
}
[stock] .manageStock .lab.cat {
  min-width: 96%;
  font-size: 22px;
  font-style: normal;
}
[stock] .manageStock .lab.cat button {
  font-size: 18px;
  background: black;
  color: white;
}
[stock] .manageStock .coolButton.edit {
  float: left;
  clear: left;
}
[stock] pop-out.active {
  position: fixed;
  top: 80px;
  left: 16px;
  background: #eee;
  padding: 18px;
  max-width: 400px;
  max-height: 600px;
  overflow-y: auto;
  box-shadow: 5px 5px 20px 5px #ccc;
}
[stock] pop-out .fa-close {
  padding: 5px;
  font-size: 28px;
  color: #9c2e2e;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/*
@inputBg        : linear-gradient(to right, #2d2d2d, #222);
@inputText      : #ccc;
*/
[sv-handle] button {
  position: relative;
  float: left;
  clear: both;
  margin: 2% 4%;
  padding: 10px;
  width: 92%;
}
pop-it {
  position: fixed;
  top: 20px;
  left: 96%;
  z-index: 1000;
  background: #444;
  color: #ccc;
  overflow: auto;
  z-index: 1002;
  min-width: 400px;
  float: left;
  font-family: lato;
  resize: both;
  text-align: center;
  max-width: 70%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  max-height: 80vh;
}
pop-it i.fa.fa-trash {
  color: #828288;
  margin-right: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 250ms;
}
pop-it i.fa.fa-trash:hover {
  opacity: 0.5;
}
pop-it .fields {
  padding: 20px 1%;
  float: left;
}
pop-it label {
  width: 110px;
  display: inline-block;
  font-weight: 400;
  color: #ccc;
  color: #fff;
  letter-spacing: 0.8px;
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 5px;
}
pop-it input,
pop-it textarea {
  border-radius: 2px;
  margin: 2px;
  border: none;
  padding: 6px;
  font-size: 14px;
  margin-right: 20px;
  line-height: 26px;
  background: #fff;
  color: #000;
  padding-left: 12px;
  transition: 300ms;
  outline: none;
  border-bottom: 2px solid transparent;
}
pop-it input:focus,
pop-it textarea:focus {
  border-bottom: 2px solid #24a1a6;
}
pop-it textarea {
  margin: 10px 2%;
  width: 80%;
  margin: 20px 3%;
  font-size: 14px;
  min-height: 120px;
  min-width: 360px;
  padding: 12px;
}
pop-it .drag {
  height: 30px;
  width: 100%;
  background: blue;
}
pop-it.textPop {
  min-width: 400px;
  min-height: 100px;
  text-align: center;
}
pop-it.photoPop {
  float: left;
  min-width: 800px;
  min-height: 400px;
  max-width: 900px;
  max-height: 600px;
}
pop-it.hoursPop input {
  width: 70px;
}
pop-it .popHeader {
  width: 100%;
  float: left;
  background: #222;
  cursor: move;
  margin-bottom: 20px;
}
pop-it .popHeader .dragLines {
  position: absolute;
  min-height: 36px;
  left: 46px;
  right: 46px;
  padding-top: 5px;
  transition: 500ms;
}
pop-it .popHeader .dragLines hr {
  height: 2px;
  border: none;
  background: #37373a;
  margin: 6px 12px;
  transition: 400ms;
}
pop-it .popHeader .dragLines:hover hr {
  background: #69696e;
}
pop-it .popHeader .fa {
  font-size: 24px;
  float: left;
  padding: 6px 12px;
  transition: 300ms;
  cursor: pointer;
}
pop-it .popHeader .fa-close {
  float: right;
  color: #9c2e2e;
  color: #a42d2d;
  font-size: 28px !important;
}
pop-it .popHeader .fa:hover {
  opacity: 0.5;
}
pop-it .popHeader .fa-arrow-left,
pop-it .popHeader .fa-square-o,
pop-it .popHeader .fa-arrow-right {
  float: right;
  font-weight: bold;
}
pop-it .popHeader .fa-arrows-h {
  float: right;
}
pop-it .popHeader .fa-arrows-h.active {
  background: rgba(0, 0, 0, 0.3);
}
pop-it .popCont {
  float: left;
  overflow: auto;
  max-height: 70vh;
  width: 100%;
  margin-top: -20px;
  padding-top: 20px;
}
pop-it .editWrap {
  max-height: 60vh;
  overflow: auto;
  float: left;
}
pop-it .editWrap .files {
  margin: 10px;
  width: auto;
}
pop-it .editWrap .fa-pencil {
  display: none;
}
pop-it .editWrap .loop {
  margin: 10px;
  float: left;
  width: 80%;
  font-size: 25px;
  margin-left: 40px;
}
pop-it .editWrap .loop label {
  color: #fff;
  font-weight: bold;
  color: #ff9077;
}
pop-it .editWrap .loop input {
  border: none;
  border-radius: 4px;
  width: 35px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}
pop-it .editMap input {
  width: 220px;
}
pop-it.linkPop {
  top: 160px;
}
pop-it ul {
  list-style: none;
}
pop-it ul li .lab {
  width: 150px;
  text-align: left;
}
pop-it ul li .url {
  width: 220px;
}
pop-it button.coolButton.edit {
  box-shadow: none;
  border-radius: 30px;
  background: #24a1a6;
  transition: 300ms;
  padding: 0px;
  border: none;
}
pop-it button.coolButton.edit span {
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 18px 10px 14px;
  letter-spacing: 0.8px;
  color: rgba(0, 0, 0, 0.92);
  font-weight: bold;
  transition: 300ms;
}
pop-it button.coolButton.edit i {
  border-radius: 20px;
  min-width: 15px;
  background: #1f272a;
  background: rgba(0, 0, 0, 0.92);
  font-size: 13px;
  color: #24a1a6;
}
pop-it button.coolButton.edit:hover {
  background: #222;
}
pop-it button.coolButton.edit:hover span,
pop-it button.coolButton.edit:hover i {
  color: #24a1a6;
}
pop-it .buttonWrap {
  margin-bottom: 15px;
}
pop-it button {
  outline: none;
}
pop-it button.reorder {
  border: 1px solid #24a1a6;
  background: #313131;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.7px;
  padding: 14px;
  width: 200px;
  float: none;
  margin: 10px auto;
  display: block;
  border: 1px dashed #555;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 500ms border;
}
pop-it button.reorder:focus,
pop-it button.reorder:hover {
  border: 1px dashed #24a1a6;
}
content.active {
  background: #eee;
}
.popHours input {
  width: 45px;
}
[cms-section-text] pop-it .popCont > div {
  margin: 10px 0px;
  float: left;
  clear: both;
}
[cms-section-text] pop-it .popCont > div label {
  margin-left: 30px;
  text-align: left;
}
[cms-section-text] pop-it .popCont .popHeader {
  margin: 0px;
}
[cms-section-text] pop-it .popCont .descWrap label {
  float: left;
  margin-left: 6%;
  margin-bottom: 20px;
}
[cms-section-text] pop-it .popCont .descWrap textarea {
  margin-top: 0px;
}
[cms-menu-cat] .catRow {
  margin: 5px 0px;
}
[cms-menu-cat] .catRow input {
  width: 200px;
}
[cms-menu-cat] label {
  /* Kinda hacky */
  margin-left: -40px;
  margin-bottom: 10px;
}
[cms-menu-item] .inputWrap {
  text-align: left;
  margin: 5px 10px 5px 30px;
}
.blogPostPop div {
  text-align: left;
  margin-left: 30px;
}
.blogPostPop textarea {
  margin: 10px 0px 20px;
}
/*
@chartHeader: #356d53;
@chartOptions: #52876f;
*/
.fa-stop,
.fa-play,
.fa-check,
.fa-remove,
.fa-plus-square-o {
  cursor: pointer;
}
.fa-stop,
.fa-remove {
  color: #990000;
}
.fa-refresh {
  color: #324e8c;
}
.fa-cloud,
.fa-forumbee,
.fa-user {
  float: left;
}
.fa-user-plus,
.fa-check {
  color: #007600;
}
.fa-info {
  color: #0af;
  margin: 0 8px;
}
.fa-stack-1x {
  line-height: 1.9;
}
li.active .fa-stack-2x {
  color: white;
  opacity: 1;
}
.fa-stack-2x {
  color: #aaa;
  font-size: 1.3em !important;
  margin-top: 6px;
  opacity: 0.2;
  transition: 300ms;
}
.fa-stack-2x:hover {
  color: white;
}
.chartWrap {
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: #000;
  min-height: 200px;
  transition: 400ms;
  padding: 0px 0px 4px;
  border-radius: 2px;
  margin: 10px 0;
  float: left;
  overflow: hidden;
}
.chartWrap .chartHeader {
  width: 100%;
  max-width: 858px;
  max-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  background: #05090d;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 0px;
  letter-spacing: 0.2px;
  color: #fff;
  text-transform: capitalize;
  /*
        .three { font-weight:normal; }
        .four { font-style:italic; font-size:13px; font-weight:normal;}
        */
}
.chartWrap .chartHeader .beaconList {
  color: #777;
}
.chartWrap .chartHeader .buttonWrap {
  background: rgba(0, 0, 0, 0.7);
  height: 26px;
  padding-top: 8px;
  position: absolute;
  border-top-right-radius: 6px;
  right: 0px;
  top: 0px;
  border-left: 1px solid #222;
}
.chartWrap .chartHeader .one,
.chartWrap .chartHeader .two,
.chartWrap .chartHeader .three,
.chartWrap .chartHeader .four {
  float: none;
  margin: 0 4px;
  text-shadow: 1px 1px #222;
}
.chartWrap .chartHeader .one {
  margin-right: 0px;
  color: #fff;
}
.chartWrap .chartHeader .two {
  float: right;
  font-weight: normal;
}
.chartWrap .options {
  padding: 0px;
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 4px;
  text-align: center;
  background: rgba(19, 34, 50, 0.8);
}
.chartWrap .options .wrapTheRest {
  margin: 6px 2px 6px;
  text-align: center;
  display: inline-block;
  float: none;
}
.chartWrap .options .wrapTheRest label {
  font-size: 13px;
  font-weight: 600;
}
.chartWrap .fa-user {
  color: #004300;
}
.chartWrap.active {
  box-shadow: 0px 0px 10px 0px #444;
  opacity: 0.7;
}
.chartWrap > div {
  position: relative;
  min-height: 20px;
}
.chartWrap > div div > * {
  float: left;
}
.chartWrap > div .time {
  float: right;
}
.chartWrap > div .time input[type="time"] {
  width: 96px;
}
.chartWrap > div i {
  width: 32px;
  text-align: center;
  margin: 2px 0 0 0px;
}
.chartWrap > div i.fa-stop {
  color: #990000;
}
.chartWrap > div i.fa-play {
  color: green;
}
.chartWrap > div i > span {
  font-size: 12px;
  color: black;
}
.chartWrap > div input {
  width: 32px;
}
.chartWrap label {
  font-family: helvetica;
  margin: 4px;
}
.chartWrap chartDepr {
  border: none;
  padding: 0px;
}
.chartWrap input,
.chartWrap select {
  margin: 1px 0px 0px;
  outline: none;
}
[lst] div.content {
  max-height: 320;
  float: left;
  overflow: auto;
  width: 100%;
}
[lst] div.content ul:nth-child(even) {
  background: #eee;
}
[lst] ul {
  width: 100%;
  float: left;
  clear: both;
  cursor: pointer;
}
[lst] ul.active {
  background: #78a1cc !important;
  color: #333;
}
[lst] ul.red {
  color: #c12929;
}
[lst] ul.yellow {
  color: #565628;
}
[lst] ul li {
  position: relative;
  float: left;
  margin: 6px;
  min-width: 80px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[lst] ul li.fa {
  width: 24px;
  min-width: 24px;
  font-size: 22px;
  float: right;
}
[lst] ul li .fa-plus {
  color: #215821;
}
[lst] ul li .fa-close,
[lst] ul li .fa-eraser {
  color: #963c3c;
}
[lst] ul li .fa-pencil {
  color: #797918;
}
[lst] ul li .fa-filter {
  color: #5779a7;
  font-size: 22px;
}
[lst] ul li .active {
  color: red;
}
[lst] ul li.left {
  text-align: left;
}
[lst] ul li.right {
  text-align: right;
}
[lst] ul li.num {
  text-align: center;
  min-width: 65px;
  border: 1px solid transparent;
}
[lst] ul li.num input {
  text-align: right;
  min-width: 50px;
  width: 50px;
}
[lst] ul li.name {
  width: 100px;
}
[lst] ul li.name input {
  width: 72px;
}
[lst] ul li.med {
  width: 140px;
}
[lst] ul li.med input {
  width: 100px;
}
[lst] ul li.big {
  width: 200px;
}
[lst] ul li.big input {
  width: 100px;
}
[lst] ul li.huge {
  width: 300px;
}
[lst] ul li.huge input {
  width: 100px;
}
@media only screen and (max-width: 966px) {
  [lst] ul li.wideOnly {
    width: 98px;
  }
  [lst] ul li.wideOnly input {
    width: 90px;
  }
}
@media only screen and (max-width: 966px) {
  [lst] ul li.wideOnly1 {
    width: 98px;
  }
  [lst] ul li.wideOnly1 input {
    width: 90px;
  }
}
@media only screen and (max-width: 880px) {
  [lst] ul li.wideOnly1 {
    display: none;
  }
}
[lst] ul li.wideOnly2 {
  font-size: 14px;
}
@media only screen and (max-width: 1268px) {
  [lst] ul li.wideOnly2 {
    display: none;
  }
}
[lst] ul li.wideOnly3 {
  font-size: 14px;
}
@media only screen and (max-width: 1530px) {
  [lst] ul li.wideOnly3 {
    display: none;
  }
}
[lst] ul.labs {
  min-height: 40px;
}
[lst] ul.labs li {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  color: #222;
  line-height: 24px;
  cursor: pointer;
  transition: 300ms;
}
[lst] ul.labs li.lab {
  float: right;
  color: #5779a7;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1em;
}
[lst] ul.labs li .fa {
  opacity: 0;
  color: #16653d;
  transition: 500ms ease-out;
}
[lst] ul.labs li.active .fa,
[lst] ul.labs li:hover .fa {
  opacity: 1;
}
[lst] ul.labs,
[lst] ul.filters {
  background: #447ab3;
}
[lst] ul.filters .show {
  display: inline-block;
}
[lst] ul.filters .hide {
  display: none;
}
[lst] ul.filters input {
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 4px;
  margin: 1px;
}
[lst] ul.filters .filterButtons {
  position: absolute;
  top: 59px;
  right: 1px;
}
[lst] ul.filters .filterButtons button {
  float: right;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  clear: both;
  font-family: lato;
  background: #000000;
  color: #fff;
  padding: 8px 11px;
  width: 100px;
  margin: 0px 4px 4px 4px;
  font-size: 13px;
  font-weight: bold;
}
[lst] ul.filters .filterButtons button.andOr {
  opacity: 0;
}
/*
.pager {
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    padding:6px 0;
    float:left;
    position:relative;
    clear:both;
    width:100%;
    background:@lHeaderRev;
    color:lighten(@third, 20%);
    margin-bottom:0px;
    min-height:0px;
    overflow:visible;
    i {
        font-size:18px;
        margin:-1px 8px 0px 8px;
        color:lighten(@third, 20%);
        cursor:pointer;
    }
    span {
        font-size:12px;
        padding-left:12px;
    }
    input {
        width:40px;
    }
    button {
        font-size:13px;
        background:transparent;
        color:#888;
        border:none;
        cursor:pointer;
        border:1px solid transparent;
        border-radius:15px;
        transition:400ms;
        i {
            margin:0px 2px -2px 2px;
            color:darken(@third, 50%);
            float:left;
        }
        &:hover, &.active,
        &.upDown {
            background:transparent;
            border:1px solid #aaa;
            color:white;
            background:rgba(255,255,255,0.2);
        }
        &.upDown {
            background:rgba(0,0,0,0.4);
            //border:1px solid #000;
            border:none;
            box-shadow:1px 1px 2px 0px #000;
            border-radius:4px;
            i {
                font-size:13px;
                color:#ddd;
                margin:2px 4px 0px 0px;
            }
        }
    }
    .pageList {
        float:left;
        padding:0 2px;
        i { color:#fff; }
        button { 
            color:white;
        }
        &:hover .pagesPopUp {
            display:block;
            box-shadow:3px 3px 9px #143;
        }
        .pagesPopUp {
            padding:8px;
            margin-right:3px;
            border-radius:8px;
            display:none;
            position:absolute;
            min-height:20px;
            bottom:0px;
            left:4px;
            background:@lHeaderRev;
            button {
                float:left;
                width:30px;
                border:1px solid transparent;
                border-radius:3px;
                color:#888;
                &:hover {
                    color:white;
                    border:1px solid white;
                }
            }
        }
    }
}
*/
#menu {
  box-shadow: 0px 0px 3px -1px #aaa;
  position: fixed;
  top: 0;
  left: 0;
}
.menuLogin {
  z-index: 1001;
  position: fixed;
  top: 70px;
  font-size: 32px;
  color: white;
  right: 10px;
}
.menuLogin .fa-key {
  color: transparent;
  transition: 800ms;
  font-size: 56px;
}
.menuLogin .fa-key:hover {
  color: #ccc;
}
[menu] {
  width: 100%;
  z-index: 1000;
  /*
    [before-menu] {
        float:left;
        .beforeMenuWrap {
            .commander {
                padding:16px 9px;
                text-align:center;
                max-width:275px;
                text-transform:uppercase;
                color:#fff;
                background-color:#ff9077;
                letter-spacing:2px;
                width:100%;
                display:block;
                font-size:14px;
                position:relative;
                font-weight:bold;
            }
        }
    }
    */
}
[menu] ul {
  transition: 0.8s;
  padding: 0px;
  position: relative;
  margin: 0px;
  text-align: center;
  width: 100%;
  background: #fff;
  float: left;
}
[menu] ul li {
  cursor: pointer;
  border-radius: 0px;
  outline: none;
  flex-grow: 1;
  display: inline-block;
  padding: 6px 12px 3px 5px;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  transition: 300ms;
  position: relative;
  box-shadow: 1px 0px 2px -1px #000;
}
[menu] ul li span.wide {
  white-space: nowrap;
}
@media screen and (max-width: 645px) {
}
[menu] ul li:hover {
  background: #000;
  color: #2f547c;
}
[menu] ul li:hover i {
  color: #2f547c;
}
[menu] ul li.active {
  background: #132232;
  color: #ff9077;
  pointer-events: none;
}
[menu] ul li.infraTab:hover .subMenu {
  max-height: 100px;
}
[menu] ul li.infraTab .subMenu {
  max-height: 0px;
  overflow: hidden;
  transition: 200ms;
  position: absolute;
  left: 0px;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 1px 8px 12px -7px #000;
}
[menu] ul li.infraTab .subMenu ul {
  background: #000;
  opacity: 0.95;
  display: inline-block;
  margin-top: 3px;
  padding: 2px 0px 5px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: none;
}
[menu] ul li.infraTab .subMenu ul li {
  font-size: 13px;
  padding: 10px 5px 5px;
  display: block;
  box-shadow: none;
  border-radius: 8px;
  margin-left: 5px;
}
[menu] ul li.infraTab .subMenu ul li i {
  margin: 0px 5px;
  float: left;
}
[menu] .subMenuPane {
  position: fixed;
  background: #eee;
  top: 70px;
  right: 214px;
  border: 1px solid black;
  padding: 20px;
}
[menu] .subMenuPane .head {
  width: 160px;
}
[menu] .subMenuPane ul {
  width: 190px;
}
[menu] .subMenuPane ul li {
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
}
[before-menu] {
  float: left;
  min-width: 480px;
}
[before-menu] .beforeMenuWrap > div,
[before-menu] .beforeMenuWrap a {
  float: left;
  display: inline;
}
[before-menu] .beforeMenuWrap .commander {
  padding: 20px 12px 18px;
  text-align: center;
  max-width: 275px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff9077;
  letter-spacing: 2px;
  display: block;
  font-size: 14px;
  position: relative;
  font-weight: bold;
}
.genMenu,
[middle-menu] {
  float: right;
}
.genMenu i,
[middle-menu] i {
  display: none;
  font-size: 32px;
  position: fixed;
  top: 12px;
  right: 80px;
  transition: 300ms;
  transition-property: transform color;
  cursor: pointer;
  padding: 13px 5px 10px;
  background: #fff;
  z-index: 100;
  top: 0;
}
.genMenu i:hover,
[middle-menu] i:hover {
  color: #ff9077;
}
.genMenu i.active,
[middle-menu] i.active {
  transform: rotate(90deg);
  background: transparent;
}
.genMenu .menuItems,
[middle-menu] .menuItems {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 100px;
  transition: 800ms;
  max-height: 55px;
  overflow: hidden;
  margin-right: 0px;
  opacity: 1;
}
.genMenu .menuItems.active,
[middle-menu] .menuItems.active {
  margin-right: -100%;
  opacity: 0;
  transition: 1400ms;
}
@media (max-width: 1000px) {
  .genMenu,
  [middle-menu] {
    position: fixed;
  }
  .genMenu .menuItems,
  [middle-menu] .menuItems {
    display: none;
    top: 55px;
    /*
            &.active {
                display: block;
                background:white;
                a {
                    position:relative;
                    width: 100%;
                    float:left;
                    margin-bottom:1px dotted #777;
                }
            }
            */
  }
}
@media (max-width: 1200px) {
  .genMenu .fa-bars,
  [middle-menu] .fa-bars {
    display: inline-block;
  }
  .genMenu .menuItems,
  [middle-menu] .menuItems {
    right: 135px;
  }
  .genMenu .menuItems a:last-child,
  [middle-menu] .menuItems a:last-child,
  .genMenu .menuItems a:nth-last-child(2),
  [middle-menu] .menuItems a:nth-last-child(2) {
    display: none;
  }
}
.genMenu a,
[middle-menu] a {
  text-decoration: none;
}
.genMenu a li,
[middle-menu] a li {
  color: #373737;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: none;
  padding: 20px 15px;
  pointer-events: none;
}
.respMenu.ng-hide {
  display: block !important;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}
.respMenu {
  position: fixed;
  top: 70px;
  right: 0px;
  background: #fff;
  max-height: 800px;
  opacity: 1;
  transition: 500ms;
}
.respMenu .menuItems {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.respMenu .menuItems a {
  text-decoration: none;
}
.respMenu .menuItems a li {
  display: block;
  text-transform: uppercase;
  padding: 22px 58px;
  color: #37373a;
  box-shadow: none;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.respMenu .menuItems a li:hover {
  color: #ff9077;
}
.respMenu .menuItems a li.active {
  color: #ff9077;
}
[after-menu] {
  float: right;
  color: #373737;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: none;
  padding: 20px 15px;
  pointer-events: none;
  margin-left: 10px;
  position: fixed;
  right: 0px;
  background: #fff;
  z-index: 100;
}
[after-menu] .selected {
  color: #ff9077;
}
[header] {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  font-weight: normal;
  height: auto;
}
@media screen and (max-width: 800px) {
  [header] {
    display: none;
  }
}
[header] {
  height: 70px;
  top: 0;
  border: none;
  z-index: 100;
  background: #132232;
  position: relative;
  float: left;
}
[header] .logos {
  margin: 0;
}
[header] .logos img {
  position: relative;
  float: left;
}
[header] .logos #logoWrap {
  height: 70px;
  width: 350px;
  overflow: hidden;
  margin: 0px;
  background: linear-gradient(to right, #000, #132232);
}
[header] .logos #logoWrap #reely {
  padding: 6px;
  display: none;
}
[header] .logos #logoWrap #bmr {
  margin-top: 7px;
  margin-left: 15px;
  height: 56px;
}
[header] .logos > div {
  float: left;
}
[header] .logos div.login {
  float: right;
  font-size: 14px;
  margin-top: 6px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  color: #eee;
}
@media screen and (max-width: 700px) {
  [header] .logos div.login {
    position: absolute;
    top: 0;
    right: 0;
  }
}
[header] .logos div.login .inputs {
  margin: 4px 8px 2px 4px;
}
[header] .logos div.login .inputs label,
[header] .logos div.login .inputs input {
  margin-bottom: 5px;
}
[header] .logos div.login .inputs label {
  width: 112px;
  position: relative;
  float: left;
  display: block;
  min-width: 106px;
  margin-top: 2px;
}
[header] .logos div.login .inputs input {
  position: relative;
  float: right;
  display: block;
  min-width: 106px;
}
[header] .logos div.login i {
  font-size: 16px;
  margin: 0px 2px;
  float: none;
}
[header] .logos div.login button {
  background: #fafbfd;
  color: #05090d;
  font-weight: bold;
  font-size: 13px;
  padding: 3px 7px;
  box-shadow: 1px 1px 3px -1px #000;
  border-radius: 4px;
  height: 44px;
  margin: 4px;
}
[header] .logos div.login button:hover {
  box-shadow: 0px 0px 6px 0px #000;
  background: #aaa;
}
[header] .logos div.login input {
  border-radius: 2px;
  border: none;
  padding: 2px 4px;
  box-shadow: 1px 1px 3px -1px #333;
  font-size: 13px;
  background: #fff;
  width: auto;
  max-width: 120px;
}
[header] .logos div.login label {
  margin: 0px 8px 0px 4px;
}
[header] .logos div.login label#username {
  font-size: 15px;
  margin: 0px 4px 0px 0px;
  font-weight: bold;
}
[header] .logos div {
  margin: 4px;
  float: left;
}
[header] .logos div a {
  color: white;
  text-decoration: none;
}
[header] > div {
  margin: 12px 0 0 0;
  padding: 0;
  float: left;
  width: 100%;
}
[header] > div .logo {
  margin: -8px 0 0 8px;
  float: left;
}
[header] > div .auth {
  float: right;
  margin: 0px 6px 6px 6px;
  transition: 1s;
}
[header] > div .auth > div form > div,
[header] > div .auth form > div > div,
[header] > div .auth > div > div > div {
  position: relative;
  margin: 0 3px;
  float: left;
}
[header] > div .auth form label {
  width: 74px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}
[header] > div .auth input {
  border-radius: 4px;
  width: 100px;
  background: #eef2ff;
  border: 1px solid #777;
  padding: 2px 3px 2px 3px;
  font-size: 14px;
  margin-left: 5px;
}
[header] > div .auth .button,
[header] > div .auth .buttonout {
  background: #39589f;
  border: 1px solid #555;
  width: auto;
  padding: 5px 8px;
  height: 11px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  color: #333;
}
[header] > div .auth .button:hover,
[header] > div .auth .buttonout:hover {
  background: #9fbce1;
  border: 1px solid #777;
}
#notifier {
  background: #fff;
  min-height: 35px;
  z-index: 20000;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: -110px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: 500ms;
  cursor: pointer;
  border-radius: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
  min-width: 200px;
}
#notifier.active {
  top: 10px;
}
#notifier .awesomeBox {
  left: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  width: 40px;
  padding: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-shadow: 1px 1px #222;
  background: #000000;
  color: #eee;
  font-size: 26px;
  text-align: center;
}
#notifier .awesomeBox.check {
  background: #50a162;
}
#notifier .awesomeBox.ban {
  background: #950000;
}
#notifier .awesomeBox.exclamation-circle {
  background: #ffbd31;
  text-shadow: none;
  color: #222;
  font-size: 28px;
}
#notifier .notifMsg {
  margin-left: 70px;
  margin-right: 10px;
  white-space: nowrap;
}
#notifier .confirmWrap {
  position: absolute;
  bottom: -45px;
  left: 0px;
  right: 0px;
  text-align: center;
}
#notifier .confirmWrap .yesButton,
#notifier .confirmWrap .noButton {
  width: 50px;
  background: #417c81;
  color: #fff;
  text-shadow: 1px 1px #333;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 30px;
  margin: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: 150ms;
  background: linear-gradient(#238, #18245f);
}
#notifier .confirmWrap .yesButton:hover,
#notifier .confirmWrap .noButton:hover {
  opacity: 0.6;
}
/*
.outterWrap {
    text-align:center;
    background:white;
    padding:10px 0 30px 0;
    .innerWrap {
        display:inline-block;
        [cms-text],
        [cms-link],
        label {
            float:left;
            margin-left:8px;
        }
        label {
            clear:left;
            font-weight:bold;
            width:100px;
        }
        [cms-text],
        [cms-link] {
            content {
                line-height:14px;
            }
        }

    }
}
*/
[contact] .mapWrapSet .mapWrap {
  width: 98%;
  max-height: 640px;
}
[contact] .mapWrapSet .mapWrap map {
  border-radius: 0;
  height: 420px;
}
.contactInfo {
  float: left;
  width: 100%;
  background: #fff;
  position: relative;
  text-align: center;
  display: flex;
}
.contactInfo .eachLoc {
  min-width: 300px;
  float: left;
  flex-grow: 1;
  margin-bottom: 30px;
}
.contactInfo .eachLoc h2 {
  color: #ff9077;
  font-size: 18px;
  font-weight: bold;
}
.contactInfo .eachLoc [cms-text] content {
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.3px;
}
.contactInfo .eachLoc .locInfo [cms-text] content {
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.3px;
  font-size: 14px;
}
.contactInfo .eachLoc .locInfo .phone content {
  font-weight: bold;
  font-size: 16px;
}
.contactInfo .eachLoc .hoursWrap {
  margin-top: 25px;
}
.contactInfo .eachLoc .hoursWrap .hours {
  min-width: 150px;
  color: #37373a;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  margin-left: 20%;
}
.contactInfo .eachLoc .hoursWrap .hours label,
.contactInfo .eachLoc .hoursWrap .hours div {
  display: inline-block;
}
.contactInfo .eachLoc .hoursWrap .hours label {
  width: 100px;
  text-align: center;
  margin-right: 70px;
}
.hoursCms .weekday {
  width: 100%;
  text-align: center;
  float: left;
  margin: 5px 0px;
}
.hoursCms .weekday label {
  font-weight: 400;
  color: #373737;
  font-size: 13px;
  text-transform: uppercase;
  width: 150px;
  float: left;
  font-family: lato;
}
.hoursCms .weekday .from,
.hoursCms .weekday .to {
  width: 80px;
  font-weight: bold;
  color: #503f3f;
  font-family: lato;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.hoursCms .hoursPop {
  max-width: 400px;
  min-width: 350px;
}
.hoursCms .hoursPop input {
  width: 80px;
  height: 17px;
  min-height: auto;
}
.locInfo {
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.3px;
  font-size: 14px;
  min-height: 100px;
}
.locInfo a {
  color: #ff9077;
}
.locInfo .locInfoPop .inputWrap {
  float: left;
  clear: both;
  margin: 5px auto;
}
.locInfo .locInfoPop input {
  margin: 5px;
}
/*
.contactInfo {
    float:left;
    width:100%;
    background:#fff;
    position:relative;
    text-align:center;
    .eachLoc {
        min-width:300px;
        float:left;
        border:1px solid green;
        .hours {
            min-width:150px;
            label, div {
                display:inline-block;
            }
        }
    }
}
*/
body {
  font-family: lato;
}
.laxCover {
  margin-bottom: 60px;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  background: white;
}
.trans {
  background: transparent !important;
}
.trans > * {
  background: transparent !important;
}
.trans.hours {
  height: 475px;
  margin-bottom: 730px;
}
.boxes {
  position: relative;
  overflow: hidden;
  clear: both;
  width: 100%;
  color: #ff9077;
  font-weight: bold;
  margin: 100px auto;
  background: white;
}
.boxes.b2 > div {
  width: 29%;
  min-width: 180px;
  margin: 10px 10%;
  float: left;
  position: relative;
  text-align: center;
}
.boxes.b2 > div .head {
  font-size: 24px;
  margin-bottom: 24px;
}
.boxes.b2 [cms-text] {
  position: relative;
}
.boxes.b2 .fa-pencil {
  margin: 0px 5px;
  color: #444;
  position: absolute;
  cursor: pointer;
  transition: 200ms;
}
.boxes.b2 .fa-pencil:hover {
  opacity: 0.5;
}
.outterWrap {
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
}
.outterWrap .innerWrap {
  display: inline-block;
}
.outterWrap .innerWrap.i2 {
  width: 45%;
}
.outterWrap .innerWrap.i3 {
  width: 31%;
}
.outterWrap .innerWrap.i4 {
  width: 22%;
}
.outterWrap .innerWrap.i5 {
  width: 18%;
}
/* Moved to popup.less BEGIN
.editMap, .editMapLink {
    //position:absolute;
    //top:-160px;
    //left:0px;
    background:rgba(0,21,126,0.1);
    border-radius:4px;
    padding:10px;
    z-index:10;
    input {
        padding:8px;
        margin:3px;
        border-radius:4px;
        border:1px solid #ccc;
        width:91% !important;
    }
    button {
        .button1;
        font-size:12px;
        background:darken(#2974a4, 15%);
        margin-top:5px;
    }
}
.editMapLink {
    bottom:-100px;
    top:auto;
    input {
        margin:3px 0px !important;
    }
}
Moved to popup.less END */
.lolaSlide {
  min-height: 640px;
}
.lolaSlide [cms-img-slide] i {
  position: absolute;
  top: 15px;
  z-index: 200;
  left: 15px;
  padding: 9px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
[back-img] {
  position: absolute;
  float: left;
  width: 100%;
  height: auto;
}
[back-img] [sepia] {
  filter: sepia(60%);
}
.addMap {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.addMap button {
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
}
.addMap button:hover {
  background: #28536c;
}
.addMap button i {
  margin-right: 4px;
}
.addMap button:hover {
  background: #28536c;
}
.addMap button i {
  margin-right: 4px;
}
.addMap button:hover {
  background: #28536c;
}
.addMap button i {
  margin-right: 4px;
}
.imgOverlay {
  background-image: url('../../files/bb0503c3-011c-ac3f-8332-bef5ac0faab3/heads/lola_rose.png');
  float: left;
  width: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  height: 630px;
  left: 30%;
  z-index: 4;
}
[staff] .writeUp {
  float: left;
  clear: both;
  background: #f8f8f8;
  padding: 3em;
}
[staff] .writeUp h1 {
  margin: 20px 0px 40px;
}
[staff] .writeUp [cms-link-text].head content {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: none;
}
[staff] .writeUp [cms-text] content {
  line-height: 26px;
}
[staff] .writeUp [cms-text].subHead content {
  font-size: 20px;
  margin-bottom: 5px;
  color: #37373a;
}
[staff] .writeUp2 {
  float: left;
}
[staff] .pers {
  position: relative;
  float: left;
  padding: 20px 18px;
  max-width: 354px;
  min-width: 250px;
}
[staff] .pers [cms-img] {
  max-height: 400px;
  min-height: 400px;
}
#main-footer {
  width: 100%;
  min-height: 100px;
  color: #fff;
  float: left;
  position: relative;
  background: #222;
  /*
    .linkContainer {
        margin-right:auto;
        margin-left:auto;
        width:970px;
        .anotherContainer {
            padding:100px 15px;
            display:inline-block;
            width:100%;
            .linkWrap {
                float:left;
                width:25%;
                .linkHead {
                    font-weight:bold;
                    font-size:16px;
                    color:#222;
                    color:#fff;
                    margin-bottom:3px;
                    color:@mainColor;
                }
                .addLink {
                    .button1;       
                    margin-top:20px;
                }
            }
        }
        [cms-link] {
            input {
                margin:2px;
                border-radius:4px;
                padding:4px;
                width:120px;
                border:none;
            }
            .fa-pencil, .fa-close {
                font-size:12px;
                background:rgba(0,0,0,0.8);
                padding:5px;
                border-radius:4px;
                margin:1px;
                transition:150ms;
                cursor:pointer;
                &:hover {
                    background:rgba(0,0,0,0.2);
                    color:#28536c;
                }
            }
            .fa-close {
                margin-right:5px;
            }
            .fa-pencil {
                //background:#2974a4;
            }
            a {
                color:#fff;
                transition:.3s ease-in-out;
                font-weight:normal;
                font-size:14px;
                color:@mainColor;
                &:hover {
                    color:#686868;
                    box-shadow:none;
                }
            }
        }
    }
    */
}
#main-footer .subFooter {
  width: calc(100% - 15px);
  background: #ff9077;
  padding: 15px 0px 15px 15px;
  font-weight: bold;
  float: left;
  font-size: 12px;
}
#main-footer .linkContainer {
  display: flex;
  padding: 100px 15px;
}
#main-footer .linkContainer [cms-link-section] {
  flex-grow: 1;
  margin-left: 5%;
  position: relative;
  /*
            label {
                width:auto;
            }
            */
}
#main-footer .linkContainer [cms-link-section] a {
  color: #ff9077;
  text-decoration: none;
  transition: 0.3 ease-in-out;
  font-size: 14px;
  font-weight: normal;
  font-family: lato;
  transition: 200ms;
}
#main-footer .linkContainer [cms-link-section] a:hover {
  color: #999;
}
#main-footer .linkContainer [cms-link-section] i.fa-pencil {
  cursor: pointer;
  transition: 250ms;
  position: absolute;
  top: -12px;
  right: 5px;
}
#main-footer .linkContainer [cms-link-section] i.fa-pencil:hover {
  color: #99ff94;
}
#main-footer .linkContainer [cms-link-section] input {
  min-width: 120px;
}
#main-footer .linkContainer [cms-link-section] input.url {
  min-width: 180px;
}
#main-footer .linkContainer [cms-link-section] .linkHeader {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #ff9077;
  margin-bottom: 6px;
}
#main-footer .linkContainer [cms-link-section] button.coolButton {
  margin-bottom: 10px;
}
#main-footer .linkContainer [cms-link-section] pop-it .row {
  margin: 2px 0px;
  padding: 5px 10px;
  min-width: 500px;
  /*
                    i.fa-trash {
                        color:red;
                        margin-right:8px;
                        font-size:20px;
                    }
                    */
}
#main-footer .linkContainer [cms-link-section] pop-it .header {
  float: left;
  margin: 2px 0px;
  text-align: center;
  margin-bottom: 30px;
}
pager-wrap {
  position: relative;
}
pager-wrap ul {
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
}
pager-wrap ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}
pager-wrap ul li:last-child {
  margin-right: 0;
}
pager-wrap ul li button.active {
  font-weight: bold;
}
pager-wrap ul li.perPage {
  position: absolute;
  left: 0px;
  top: 8px;
  font-weight: bold;
  color: #37373a;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.pager {
  float: left;
  width: calc(100% - 54px);
  padding: 15px;
  margin: 12px;
}
.pager button {
  background: #ff9077;
  width: 29px;
  border-radius: 40px;
  font-size: 12px;
  border: none;
  padding: 7px;
  outline: none;
  transition: 200ms;
}
.pager button.active {
  background: #37373a;
  color: #ff9077;
}
h1 {
  margin: 100px 0 50px;
  color: #ff9077;
}
body {
  margin: 0;
  padding: 0;
}
.fa {
  font-size: 22px;
}
.fa.fa-trash,
.fa.fa-reorder,
.fa.fa-pencil {
  padding: 6px;
  font-size: 28px;
}
.mainContent {
  position: relative;
  float: left;
  margin-top: 53px;
  width: 100%;
}
.button1 {
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
}
.button1:hover {
  background: #28536c;
}
.button1 i {
  margin-right: 4px;
}
.boxes {
  position: relative;
  overflow: hidden;
  clear: both;
  width: 100%;
  color: #ff9077;
  font-weight: bold;
  margin: 100px auto;
  background: white;
  z-index: 5;
}
.boxes.b2 > div {
  width: 29%;
  min-width: 180px;
  margin: 10px 10%;
  float: left;
  position: relative;
  text-align: center;
}
.boxes.b2 > div .head {
  font-size: 24px;
  margin-bottom: 24px;
}
.boxes.b2 .fa-pencil {
  margin: 0px 5px;
  color: #444;
}
[all-edit] {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 11;
  right: 20px;
}
[all-edit] button {
  border-radius: 30px;
  box-shadow: none;
  color: #fff;
  padding: 11px 18px;
  border: none;
  font-weight: normal;
  font-size: 15px;
  font-family: lato;
  letter-spacing: 0.9px;
  outline: none;
  transition: 200ms;
  cursor: pointer;
  background: rgba(40, 126, 156, 0.9);
}
[all-edit] button:hover {
  opacity: 0.5;
}
.menuLogin {
  z-index: 1001;
  position: fixed;
  top: 70px;
  font-size: 32px;
  color: white;
  right: 10px;
}
.menuLogin .fa-key {
  color: transparent;
  transition: 800ms;
  font-size: 56px;
}
.menuLogin .fa-key:hover {
  color: #ccc;
}
.button1 {
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
}
.button1:hover {
  background: #28536c;
}
.button1 i {
  margin-right: 4px;
}
.popLogin {
  position: fixed;
  z-index: 1001;
  margin: 0px;
  padding: 15px 0px 22px;
  top: 54px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  height: 30px;
  text-align: center;
}
.popLogin label {
  margin: 0px 7px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.popLogin input {
  border-radius: 12px;
  padding: 9px;
  border: none;
}
.popLogin .buttons {
  margin-left: 6px;
}
.popLogin .buttons button {
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
}
.popLogin .buttons button:hover {
  background: #28536c;
}
.popLogin .buttons button i {
  margin-right: 4px;
}
.popLogin .buttons button:hover {
  background: #28536c;
}
.popLogin .buttons button i {
  margin-right: 4px;
}
.popLogin .buttons button:hover {
  background: #28536c;
}
.popLogin .buttons button i {
  margin-right: 4px;
}
.buttonWrap {
  width: 100%;
}
.buttonWrap .addItem {
  display: inline-block;
  margin-left: 8px;
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
}
.buttonWrap .addItem:hover {
  background: #28536c;
}
.buttonWrap .addItem i {
  margin-right: 4px;
}
.buttonWrap .addItem:hover {
  background: #28536c;
}
.buttonWrap .addItem i {
  margin-right: 4px;
}
.buttonWrap .addItem:hover {
  background: #28536c;
}
.buttonWrap .addItem i {
  margin-right: 4px;
}
.buttonWrap .addItem i {
  font-size: 14px;
}
trix-editor {
  max-height: 400px;
  overflow: auto;
  background: #fff;
  color: #000;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-family: sans-serif;
  padding: 20px;
  margin: 20px;
  text-align: left;
  font-size: 13px;
}
/*
.outterWrap {
    background:white;
    .zoutterWrap {
        margin:10px 0px 10px -10px;
        .labWrap {
            margin:30px 0px;
            .innerWrap {
                margin:10px;
                display:inline-block;
                font-weight:bold;
                text-transform:uppercase;
                font-size:12px;
                cursor:pointer;
            }
        }
    }
}

*/
h1 {
  margin: 100px 0 50px;
  color: #ff9077;
}
body {
  margin: 0;
  padding: 0;
}
.fa {
  font-size: 22px;
}
.fa.fa-trash,
.fa.fa-reorder,
.fa.fa-pencil {
  padding: 6px;
  font-size: 28px;
}
.mainContent {
  position: relative;
  float: left;
  margin-top: 53px;
  width: 100%;
}
/*
.mapWrapSet {
    position:relative;
    float:left;
    width:100%;
    text-align:center;
    .mapWrap {
        //filter:saturate(40%);
        //width:240px;
        width:24%;
        max-height:840px;
        overflow:hidden;
        transition:500ms;
        margin:20px 1%;
        display:inline-block;
        position:relative;
        &.active {
            position:fixed;
            width:98%;
            //max-height:600px;
            margin-left:1%;
            top: 100px;
            left:0;
            map {
                height:820px;
                border-radius:0px;
                filter:saturate(100%);
            }
        }
        >div {
            position:relative;
            float:left;
        }
        map {
            filter:saturate(25%);
            width:100%;
            height:240px;
            border-radius:12%;
            position:relative;
            float:left;
            margin-bottom:12px;
        }
        h2 {
            &.lab {
                width:100%;
                text-align:center;
                color:@mainColor;
                font-size:15px;
                text-transform:uppercase;
                //color:#313131;
            }
        }
    }
}
*/
/*
.laxCover {
    position:relative;
    float:left;
    clear:both;
    width:100%;
    background:white
}
.boxes {
    position:relative;
    //float:left;
    overflow:hidden;
    clear:both;
    width:100%;
    color:@mainColor;
    font-weight:bold;
    margin:100px auto;
    background:white;
    &.b2 {
        >div {
            width:29%;
            min-width:180px;
            margin:10px 10%;
            float:left;
            position:relative;
            text-align:center;
            .head {
                font-size:24px;
                margin-bottom:24px;
            }
        }
        .fa-pencil {
            margin:0px 5px;
            color:#444;
        }
    }
}
*/
[all-edit] {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 11;
  right: 20px;
}
[all-edit] button {
  border-radius: 30px;
  box-shadow: none;
  background: rgba(42, 47, 99, 0.9);
  color: #fff;
  padding: 11px 18px;
  border: none;
  font-weight: normal;
  font-size: 15px;
  font-family: lato;
  letter-spacing: 0.9px;
  outline: none;
  transition: 200ms;
  cursor: pointer;
  background: rgba(40, 126, 156, 0.9);
}
[all-edit] button:hover {
  opacity: 0.5;
}
.menuLogin {
  z-index: 1001;
  position: fixed;
  top: 70px;
  font-size: 32px;
  color: white;
  right: 10px;
}
.menuLogin .fa-key {
  color: transparent;
  transition: 800ms;
  font-size: 56px;
}
.menuLogin .fa-key:hover {
  color: #ccc;
}
.button1 {
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
}
.button1:hover {
  background: #28536c;
}
.button1 i {
  margin-right: 4px;
}
.popLogin {
  position: fixed;
  z-index: 1001;
  margin: 0px;
  padding: 15px 0px 22px;
  top: 54px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  height: 30px;
  text-align: center;
}
.popLogin label {
  margin: 0px 7px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.popLogin input {
  border-radius: 12px;
  padding: 9px;
  border: none;
}
.popLogin .buttons {
  margin-left: 6px;
}
.popLogin .buttons button {
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
}
.popLogin .buttons button:hover {
  background: #28536c;
}
.popLogin .buttons button i {
  margin-right: 4px;
}
.popLogin .buttons button:hover {
  background: #28536c;
}
.popLogin .buttons button i {
  margin-right: 4px;
}
.popLogin .buttons button:hover {
  background: #28536c;
}
.popLogin .buttons button i {
  margin-right: 4px;
}
.lolaSlide {
  min-height: 640px;
}
.lolaSlide [cms-img-slide] i {
  position: absolute;
  top: 15px;
  z-index: 200;
  left: 15px;
  padding: 9px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.imgOverlay {
  background-image: url('../../files/bb0503c3-011c-ac3f-8332-bef5ac0faab3/heads/lola_rose.png');
  float: left;
  width: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  height: 630px;
  left: 30%;
  z-index: 4;
}
/*
#main-footer {
    width:100%;
    min-height:100px;
    color:#fff;
    float:left;
    position:relative;
    background:#222;
    .subFooter {
        width:calc(~"100% - 15px");
        background:@mainColor;
        padding:15px 0px 15px 15px;
        font-weight:bold;
        float:left;
        font-size:12px;
    }
    .linkContainer {
        margin-right:auto;
        margin-left:auto;
        width:970px;
        .anotherContainer {
            padding:100px 15px;
            display:inline-block;
            width:100%;
            .linkWrap {
                float:left;
                width:25%;
                .linkHead {
                    font-weight:bold;
                    font-size:16px;
                    color:#222;
                    color:#fff;
                    margin-bottom:3px;
                    color:@mainColor;
                }
                .addLink {
                    .button1;       
                    margin-top:20px;
                }
            }
        }
        [cms-link] {
            input {
                margin:2px;
                border-radius:4px;
                padding:4px;
                width:120px;
                border:none;
            }
            .fa-pencil, .fa-close {
                font-size:12px;
                background:rgba(0,0,0,0.8);
                padding:5px;
                border-radius:4px;
                margin:1px;
                transition:150ms;
                cursor:pointer;
                &:hover {
                    background:rgba(0,0,0,0.2);
                    color:#28536c;
                }
            }
            .fa-close {
                margin-right:5px;
            }
            .fa-pencil {
                //background:#2974a4;
            }
            a {
                color:#fff;
                transition:.3s ease-in-out;
                font-weight:normal;
                font-size:14px;
                color:@mainColor;
                &:hover {
                    color:#686868;
                    box-shadow:none;
                }
            }
        }
    }
}
*/
/*
//Moved to about less file BEGIN
[staff] {
    max-width: 970px;
    margin:15px auto;
    .writeUp {
        float:left;
        clear:both;
        background:#eee;
    }
    .pers {
        position:relative;
        float:left;
        padding:10px 18px;
        max-width:354px;
        min-width:250px;
        [cms-img] {
            max-height:400px;
            min-height:400px;
        }
    }
}
//Moved to about less file END
*/
[before-menu] {
  float: left;
  min-width: 480px;
}
[before-menu] .beforeMenuWrap > div,
[before-menu] .beforeMenuWrap a {
  float: left;
  display: inline;
}
[before-menu] .beforeMenuWrap .commander {
  padding: 20px 12px 18px;
  text-align: center;
  max-width: 275px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff9077;
  letter-spacing: 2px;
  display: block;
  font-size: 14px;
  position: relative;
  font-weight: bold;
}
/*
.genMenu,
[middle-menu] {
    float:right;
    i { 
        display:none;
        font-size:32px;
        position:fixed;
        top:12px;
        right:80px;
    }
    .menuItems {
        margin:0;
        padding:0;
        position:fixed;
        left:412px;
    }
    @media (max-width: 940px) {
        position:fixed;
        i {
            display:block;
        }
        .menuItems {
            display:none;
            left:50px;
            top:55px;
            &.active {
                display: block;
                background:white;
                a {
                    position:relative;
                    width: 100%;
                    float:left;
                    margin-bottom:1px dotted #777;
                }
            }
        }
    }
    a {
        text-decoration:none;
        li {
            color:#373737;
            text-transform:uppercase;
            font-size:12px;
            font-weight:700;
            letter-spacing:1px;
            box-shadow:none;
            padding:20px 15px;
            pointer-events:none;
        }
    }
}
[after-menu] {
    float:right;
    color:#373737;
    text-transform:uppercase;
    font-size:12px;
    font-weight:700;
    letter-spacing:1px;
    box-shadow:none;
    padding:20px 15px;
    pointer-events:none;
    margin-left:10px;
    .selected {
        color:@mainColor;
    }
}
*/
.buttonWrap {
  width: 100%;
}
.buttonWrap .addItem {
  display: inline-block;
  margin-left: 8px;
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
}
.buttonWrap .addItem:hover {
  background: #28536c;
}
.buttonWrap .addItem i {
  margin-right: 4px;
}
.buttonWrap .addItem:hover {
  background: #28536c;
}
.buttonWrap .addItem i {
  margin-right: 4px;
}
.buttonWrap .addItem:hover {
  background: #28536c;
}
.buttonWrap .addItem i {
  margin-right: 4px;
}
.buttonWrap .addItem i {
  font-size: 14px;
}
.addMap {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.addMap button {
  border-radius: 8px;
  background: #2974a4;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  margin: 0px 1px;
  cursor: pointer;
  transition: 200ms;
}
.addMap button:hover {
  background: #28536c;
}
.addMap button i {
  margin-right: 4px;
}
.addMap button:hover {
  background: #28536c;
}
.addMap button i {
  margin-right: 4px;
}
.addMap button:hover {
  background: #28536c;
}
.addMap button i {
  margin-right: 4px;
}
/*
.outterWrap {
    width:100%;
    position:relative;
    float:left;
    text-align:center;
    .innerWrap {
        display:inline-block;
        &.i2 { width:45%; }
        &.i3 { width:31%; }
        &.i4 { width:22%; }
        &.i5 { width:18%; }
    }
}

.subHead {
    font-size:22px;
    margin-top:18px;
    margin-bottom:4px;
}

i {
    &.fa {
        &.fa-pencil {
            cursor:pointer;
            span.cms {
                font-size:12px;
                font-family:monospace;
                color:#777;
            }
        }
    }
}
*/
