<style>
    .chat {
        position:relative;
        float:left;
        min-width:400px;
        border:2px solid green;
        margin-top:2px;
        padding:20px;
        clear:left;
    }
    .chat h1 {
        margin-top:10px;
        margin-bottom:10px;
    }
    .chat.msg input {
        width:78%;
    }
    .chat span {
        font-weight:bold;
        color:red;
    }
    .chat span.active {
        margin-left:20px;
        float:right;
        color:green;
    }

    .chat span.timestamp {
        font-weight:normal;
        color:black;
        font-size:11px;
    }
</style>
<div class="chat">
    <div ng-repeat="msg in msgs">
        <h1>{{msg.user}}</h1>
        <div ng-repeat="m in msg.msg.items">
            <span class="timestamp">{{m.ts}}</span>
            <span ng-class="m.from|checkActive">{{m.msg}}</span>
        </div>
    </div>
</div>
<div class="chat msg">
    <input type="text" ng-model="lastMsg"></input>
    <button ng-click="send()">Send</button>
</div>
