<div>
    <i class="fa fa-pencil" ng-click="edtme=!edtme"></i>
    <div class="files" ng-if="multiChoice">
        <h1>Chosen</h1>
        <ul class="fileWrap">
            <li ng-repeat="file in imgList" ng-click="removeChoice(file)">
                <img ng-src="{{file.file}}"></img>
            </li>
        </ul>
    </div>
    <div class="files">
        <h1>My Pictures
            <button class="uploadNew" ng-click="newUpload=true"><i class="fa fa-upload"></i> Upload</button>
        </h1>
        <ul class="fileWrap">
            <li ng-if="!groupFiles" ng-repeat="file in files">
                <img ng-src="files/{{owner_uid}}/{{nav.selGrp}}/{{file.name}}" ng-click="chooseFile(file, $event)"></img>
                <i class="fa fa-close" ng-click="delImg(file.uid)"></i>
            </li>
        </ul>
        
        <div class="grpMenu">
            <div class="dirWrap">
                <i class="fa fa-folder"></i>
                <div class="dirs" ng-if="groupFiles" ng-repeat="(grp, list) in files" ng-click="nav.selGrp=grp" ng-class="nav.selGrp==grp|checkActive">{{grp}}</div>
                <div class="addDir">
                    <i ng-if="!nav.addGrp" class="fa fa-plus" ng-click="nav.addGrp=true">Create</i>
                    <i ng-if="nav.addGrp" type="text" ng-click="createGrp()" class="fa fa-check">Add</i>
                    <input ng-if="nav.addGrp" type="text" ng-model="nav.newGrp"></input>
                </div>
            </div>
        </div>
        <ul class="fileWrap">
            <li ng-if="groupFiles" ng-repeat="file in files[nav.selGrp]" class="fileThumb">
                <img ng-src="files/{{owner_uid}}/{{nav.selGrp}}/{{file.name}}" ng-click="chooseFile(file, $event)"></img>
                <i class="fa fa-close" ng-click="delImg(file.uid)"></i>
            </li>
        </ul>
    </div>
    <div class="files" ng-show="newUpload">
        <h1>Upload New
            <button class="uploadNew" ng-click="newUpload=false"></i> Close</button>
        </h1>
        <div open-files="openFiles()" new-file="newFile" up-msg="upMsg" up-done="upDone()" err-msg="errMsg" class="upFile" grp="nav.selGrp"></div>
    </div>

    <div class="files" ng-if="devOnly"><!--we can add this back in if we want a quicker way to upload lots of files--!>
        <h1>Upload New </h1>
        <div open-files="openFiles()" new-file="newFile" up-msg="upMsg" up-done="upDone()" err-msg="errMsg" class="upFile" grp="nav.selGrp"></div>
    </div>
</div>
