<div ng-if="!auth.loggedIn">
    <label>Login: </label>
    <input type="text" ng-model="auth.login"></input>
    <label>Password: </label>
    <input type="text" ng-model="auth.passwd"></input>
    <button ng-click="login()">Login</button>
    <label>Keep Me Logged In</label><input type="checkbox" ng-model="auth.loggedIn"></input>
</div>

<div ng-if="auth.loggedIn">
    <label>Welcome </label><span>{{auth.login}}</span>
    <button ng-click="logout()">Logout</button>
</div>
