<div ctrl-sland></div>
<div class="fb-page" 
    data-href="https://www.facebook.com/ACME-Widgets-299840180456595/" 
    data-tabs="messages" 
    data-width="400" 
    data-height="300" 
    data-small-header="false" 
    data-adapt-container-width="false" 
    data-hide-cover="false" 
    data-show-facepile="false">
    <div class="fb-xfbml-parse-ignore">
        <blockquote>
            <a href="https://www.facebook.com/ACME-Widgets-299840180456595/">Message Us</a>
        </blockquote>
    </div>
</div>

<!--
<div>
    {{fb_resp}}
</div>


//      appId      : '1256814921106529',
<div back-img lax>
    <div class="lolaSlide">
        <div cms-img-slide img-list="cms.slideList" edt="edt" loop-period="cms.loopPeriod"></div>
        <div class="imgOverlay"></div>
    </div>
    <div sepia cms-img img-src="back1" edt="edt"></div>
    <div sepia cms-img img-src="back2" edt="edt"></div>
    <div sepia cms-img img-src="back3" edt="edt"></div>
</div>

<div class="laxCover">
    <div class="boxes b2">
        <div>
            <div class="head" cms-text cont="cms.headLeft" edt="edt"></div>
            <div cms-text cont="cms.contLeft" edt="edt"></div>
        </div>
        <div>
            <div class="head" cms-text cont="cms.headRight" edt="edt"></div>
            <div cms-text cont="cms.contRight" edt="edt"></div>
        </div>
    </div>

    <div class="outterWrap land">
        <div class="innerWrap" ng-repeat="(idx, loc) in cms.locs" cms-map="loc.lab" 
            edt="edt" coords="loc" map-by-img>
        </div>
        <div class="addMap" ng-if="edt" >
            <button ng-click="addOne('locs')"><i class="fa fa-plus"></i>Map</button>
        </div>
    </div>
</div>

<div class="trans hours">
    <div class="outterWrap" sv-root sv-part="cms.locs">
        <div class="innerWrap" ng-repeat="(idx, loc) in cms.locs" sv-element>
            <h2 ng-click="selectMap(idx)">{{loc.lab}}
                <i class="fa fa-map"></i>
            </h2>
            <label>Street:</label><div cms-text cont="loc.street" edt="edt"></div>
            <label>City:</label><div cms-text cont="loc.city" edt="edt"></div>
            <label>Tel:</label><div cms-text cont="loc.tel" edt="edt"></div>
            <label>Email:</label><div cms-link cont="loc.email" idx="0:{{i}}" edt="edt" lab="Link Url" cb="delLink(idx)"></div>

            <div class="subHead">Our Hours</div>
            <div ng-repeat="(key, hr) in loc.hours">
                <label>{{key}}:</label><div cms-text cont="hr.from" edt="edt"></div><div cms-text cont="hr.to" edt="edt"></div>
            </div>
        </div>
    </div>
</div>
-->
