@mainColor: #ff9077;
@mainText: #373737;
@mainColor: #ff9077;
@baseBg: #132232;
@secondary: @baseBg;
@headerHeight: 70px;
@footerHeight: auto;
@buttonHover: #9fbce1;
@teal: #238;
@crazyBS: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@crazyBSinput: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@crazyBS1: 0 1px 3px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);

@import "../tools/css/product.less";
//@import "land.less";
@import "../tools/css/files.less";
@import "../tools/css/cms.less";
@import "../tools/css/blog.less";
@import "../tools/css/stock.less";
@import "../tools/css/popup.less";
@import "../tools/css/chart.less";
@import "../tools/css/lst.less";
@import "../tools/css/menu.less";
@import "../tools/css/header.less";
@import "../tools/css/notif.less";
@import "../tools/css/contact.less";
@import "../tools/css/land.less";
@import "../tools/css/about.less";
@import "../tools/css/footer.less";
@import "../tools/css/pager.less";
@import "../tools/deploy/css/page.less";

h1 {
    margin:100px 0 50px;
    color:@mainColor;
}
body {
    margin:0;
    padding:0;
}

.fa {
    font-size:22px;
    &.fa-trash,
    &.fa-reorder,
    //&.fa-plus,
    &.fa-pencil {
        padding:6px;
        font-size:28px;
    }
}

.mainContent {
    position:relative;
    float:left;
    margin-top:53px;
    width:100%;
}

/*
.mapWrapSet {
    position:relative;
    float:left;
    width:100%;
    text-align:center;
    .mapWrap {
        //filter:saturate(40%);
        //width:240px;
        width:24%;
        max-height:840px;
        overflow:hidden;
        transition:500ms;
        margin:20px 1%;
        display:inline-block;
        position:relative;
        &.active {
            position:fixed;
            width:98%;
            //max-height:600px;
            margin-left:1%;
            top: 100px;
            left:0;
            map {
                height:820px;
                border-radius:0px;
                filter:saturate(100%);
            }
        }
        >div {
            position:relative;
            float:left;
        }
        map {
            filter:saturate(25%);
            width:100%;
            height:240px;
            border-radius:12%;
            position:relative;
            float:left;
            margin-bottom:12px;
        }
        h2 {
            &.lab {
                width:100%;
                text-align:center;
                color:@mainColor;
                font-size:15px;
                text-transform:uppercase;
                //color:#313131;
            }
        }
    }
}
*/

/*
.laxCover {
    position:relative;
    float:left;
    clear:both;
    width:100%;
    background:white
}
.boxes {
    position:relative;
    //float:left;
    overflow:hidden;
    clear:both;
    width:100%;
    color:@mainColor;
    font-weight:bold;
    margin:100px auto;
    background:white;
    &.b2 {
        >div {
            width:29%;
            min-width:180px;
            margin:10px 10%;
            float:left;
            position:relative;
            text-align:center;
            .head {
                font-size:24px;
                margin-bottom:24px;
            }
        }
        .fa-pencil {
            margin:0px 5px;
            color:#444;
        }
    }
}
*/

//moved to page BEGIN
[all-edit] {
    position:fixed;
    top:70px;
    right:10px;
    z-index:11;
    right:20px;
    button {
        border-radius:30px;
        box-shadow:none;
        background:fade(darken(#323875, 5%), 90%);
        color:#fff;
        padding:11px 18px;
        border:none;

        font-weight:normal;
        font-size:15px;
        font-family:lato;
        letter-spacing:0.9px;
        outline:none;
        transition:200ms;
        cursor:pointer;
        background:rgba(40,126, 156, 0.9);
        &:hover {
            opacity:0.5;
        }

    }
}
.menuLogin {
    z-index:1001;
    position:fixed;
    top:70px;
    font-size:32px;
    color:white;
    right:10px;
    .fa-key {
        color: transparent;
        transition:800ms;
        font-size:56px;
        &:hover {
            color:#ccc;
        }
    }
}

.button1 {
    border-radius:8px;
    background:#2974a4;
    font-size:12px;
    text-transform:uppercase;
    color:#fff;
    font-weight:bold;
    padding:10px 16px;
    border:none;
    margin: 0px 1px;
    cursor:pointer;
    transition:200ms;
    &:hover {
        background:#28536c;
    }
    i {
        margin-right:4px;
    }
}

.popLogin {
    position:fixed;
    z-index:1001;
    margin:0px;
    padding:15px 0px 22px;
    top:54px;
    background:rgba(0,0,0,0.8);
    color:#fff;
    width:100%;
    height:30px;
    text-align:center;
    label {
        margin:0px 7px;
        font-weight:bold;
        text-transform:uppercase;
        font-size:12px;
    }
    input {
        border-radius:12px;
        padding:9px;
        border:none;
    }
    .buttons {
        margin-left:6px;
        button {
            .button1;
        }
    }
}
//moved to page END 

//moved to land BEGIN
.lolaSlide {
    min-height:640px;
    [cms-img-slide] {
        //position:relative;
        i {
            position:absolute;
            top:15px;
            z-index:200;
            left:15px;
            padding:9px;
            border-radius:4px;
            background:rgba(0,0,0,0.8);
            color:#fff;
        }
    }
}
//moved to land END
.imgOverlay {
    background-image:url('../../files/bb0503c3-011c-ac3f-8332-bef5ac0faab3/heads/lola_rose.png');
    float:left;
    width:70%;
    background-size:contain;
    background-repeat:no-repeat;
    position:absolute;
    top:200px;
    height:630px;
    left:30%;
    z-index:4;
}
//Footer START 
/*
#main-footer {
    width:100%;
    min-height:100px;
    color:#fff;
    float:left;
    position:relative;
    background:#222;
    .subFooter {
        width:calc(~"100% - 15px");
        background:@mainColor;
        padding:15px 0px 15px 15px;
        font-weight:bold;
        float:left;
        font-size:12px;
    }
    .linkContainer {
        margin-right:auto;
        margin-left:auto;
        width:970px;
        .anotherContainer {
            padding:100px 15px;
            display:inline-block;
            width:100%;
            .linkWrap {
                float:left;
                width:25%;
                .linkHead {
                    font-weight:bold;
                    font-size:16px;
                    color:#222;
                    color:#fff;
                    margin-bottom:3px;
                    color:@mainColor;
                }
                .addLink {
                    .button1;       
                    margin-top:20px;
                }
            }
        }
        [cms-link] {
            input {
                margin:2px;
                border-radius:4px;
                padding:4px;
                width:120px;
                border:none;
            }
            .fa-pencil, .fa-close {
                font-size:12px;
                background:rgba(0,0,0,0.8);
                padding:5px;
                border-radius:4px;
                margin:1px;
                transition:150ms;
                cursor:pointer;
                &:hover {
                    background:rgba(0,0,0,0.2);
                    color:#28536c;
                }
            }
            .fa-close {
                margin-right:5px;
            }
            .fa-pencil {
                //background:#2974a4;
            }
            a {
                color:#fff;
                transition:.3s ease-in-out;
                font-weight:normal;
                font-size:14px;
                color:@mainColor;
                &:hover {
                    color:#686868;
                    box-shadow:none;
                }
            }
        }
    }
}
*/
//Footer END 

/*
//Moved to about less file BEGIN
[staff] {
    max-width: 970px;
    margin:15px auto;
    .writeUp {
        float:left;
        clear:both;
        background:#eee;
    }
    .pers {
        position:relative;
        float:left;
        padding:10px 18px;
        max-width:354px;
        min-width:250px;
        [cms-img] {
            max-height:400px;
            min-height:400px;
        }
    }
}
//Moved to about less file END
*/

//moved to menus START
[before-menu] {
    float:left;
    min-width:480px;
    .beforeMenuWrap {
        > div, a {
            float:left;
            display:inline;
        }
        .commander {
            padding:20px 12px 18px;
            text-align:center;
            max-width:275px;
            text-transform:uppercase;
            color:#fff;
            background-color:#ff9077;
            letter-spacing:2px;
            display:block;
            font-size:14px;
            position:relative;
            font-weight:bold;
        }
    }
}
/*
.genMenu,
[middle-menu] {
    float:right;
    i { 
        display:none;
        font-size:32px;
        position:fixed;
        top:12px;
        right:80px;
    }
    .menuItems {
        margin:0;
        padding:0;
        position:fixed;
        left:412px;
    }
    @media (max-width: 940px) {
        position:fixed;
        i {
            display:block;
        }
        .menuItems {
            display:none;
            left:50px;
            top:55px;
            &.active {
                display: block;
                background:white;
                a {
                    position:relative;
                    width: 100%;
                    float:left;
                    margin-bottom:1px dotted #777;
                }
            }
        }
    }
    a {
        text-decoration:none;
        li {
            color:#373737;
            text-transform:uppercase;
            font-size:12px;
            font-weight:700;
            letter-spacing:1px;
            box-shadow:none;
            padding:20px 15px;
            pointer-events:none;
        }
    }
}
[after-menu] {
    float:right;
    color:#373737;
    text-transform:uppercase;
    font-size:12px;
    font-weight:700;
    letter-spacing:1px;
    box-shadow:none;
    padding:20px 15px;
    pointer-events:none;
    margin-left:10px;
    .selected {
        color:@mainColor;
    }
}
*/
//moved to menus END

//moved to page START
.buttonWrap {
    width:100%;
    .addItem {
        display:inline-block;
        margin-left:8px;
        .button1;
        i {
            font-size:14px;
        }
    }
}
//moved to page END 


.addMap {
    float:left;
    margin-top:20px;
    width:100%;
    button {
        .button1;
    }
}

/*
.outterWrap {
    width:100%;
    position:relative;
    float:left;
    text-align:center;
    .innerWrap {
        display:inline-block;
        &.i2 { width:45%; }
        &.i3 { width:31%; }
        &.i4 { width:22%; }
        &.i5 { width:18%; }
    }
}

.subHead {
    font-size:22px;
    margin-top:18px;
    margin-bottom:4px;
}

i {
    &.fa {
        &.fa-pencil {
            cursor:pointer;
            span.cms {
                font-size:12px;
                font-family:monospace;
                color:#777;
            }
        }
    }
}
*/
